@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

:root {
    --container-width: 1300px;
    --container-padding: 15px;
    --secondary: #E94D35;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: #F2F1EF;
    color: #161513;
    overflow-x: hidden;
}

.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.container-right {
    padding-left: 200px;
    padding-right: 200px;
}

.block {
    height: 200px;
    background-color: cadetblue;
}

/* Header */
.header {
    position: relative;
    min-height: 904px;
    padding-top: 44px;
    color: #161513;
}

.header a {
    color: #161513;
}

.header__top {
    margin-bottom: 86px;
}

.header__row {
    display: flex;
}

.header__content {
    position: relative;
    z-index: 1;
    max-width: 600px;
}

.header__img {
    position: relative;
    flex-grow: 1;
}

.header__img img{
    position: absolute;
    top: -20px;
    right: 0;
    max-width: unset;
    width: 502px;
    height: 503px;
}

.header__rectangle {
    margin-left: -20px;
    margin-right: -20px;
}

.rectangle {
    position: relative;
    top: 260px;
    max-width: unset;

    margin-bottom: 120px;
    width: 100%;
    height: 50px;
    background-color: black;

    transform: rotate(-5deg);
}

.rectangle__row {
    position: absolute;
    display: flex;
    column-gap: 30px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 15px 70px;
}

.rectangle__row img{
    width: 20px;
    height: 20px;
}

/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}

.nav__logo {

}

.nav__list {
    display: flex;
    column-gap: 32px;
    font-size: 15px;
    font-weight: 300;
    text-decoration-line: underline;
}

.nav__list a {
    position: relative;
}

.nav__list a.active,
.nav__list a:hover {
    font-weight: bold;
}

.nav__login {
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}

.nav__toggle {
    display: none;
}

/* Logo */
.logo {
    font-size: 20px;
    color: #161513;
    font-weight: 700;
}

.logo a {
    color: inherit;
}

/* Button */
.btn {
    display: inline-block;
    padding: 13px 40px;
    font-size: 15px;
    font-weight: 500;
    color: #161513;
    border: 1px solid #161513;
}

.btn:hover {
    color: #F2F1EF;
    background-color: #161513;
    transition: background-color 0.2s ease-in;
}


/*  Header content */
.header__title {
    margin-bottom: 30px;
    font-size: 56px;
    font-weight: 500;
}

.header__text {
    margin-bottom: 30px;
    display: flex;
    column-gap: 15px;
    font-size: 23px;
    font-weight: 500;
}

.header__title img{
    margin-top: 15px;
}

.header__text img {
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

.header__btn {
    display: inline-block;
    padding: 13px 40px;
    font-size: 15px;
    font-weight: 500;
    color: #161513;
    border: 1px solid #161513;
}

.header__btn:hover,
.header__btn.active {
    color: #F2F1EF;
    background-color: #161513;
    transition: background-color 0.2s ease-in;
}

/* Menu icon */
.menu-icon-wrapper {
    /*   background: red; */
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: black;
}

.menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: black;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: black;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menu-icon.menu-icon-active {
    background-color: transparent;
}

.menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* Destinations */
.destinations {
    padding: 96px 0 100px;
}

.container-right {
    padding-left: 150px;
    padding-right: 150px;
}

.destinations_row {
    display: flex;
    column-gap: 40px;
    margin-bottom: 121px;
}

.destinations__content {
    max-width: 408px;
}

.destinations__description {
    width: 600px;
}

.destinations__title {
    margin-bottom: 21px;
    display: flex;
    column-gap: 15px;
    font-size: 23px;
    font-weight: 400;
}

.destinations__title img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.destinations__text {
    font-size: 56px;
    font-weight: 400;
}

/* Description */
.description {

}

.description__title {
    font-size: 31px;
    font-weight: 500;
    margin-bottom: 36px;
}

.description__text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 28px;
}

.description__items {
    display: flex;
    column-gap: 80px;
}

.description__item {
    width: 150px;
}

.description__item span {
    font-size: 12px;
    font-weight: 500;
    color: var(--secondary);

}.description__item p {
    font-size: 23px;
    font-weight: 500;
}

 /* Experiance */
.destinations__experience {
    margin-bottom: 120px;
}

.experiance__items {
    display: flex;
}

.experiance__item {
    padding-top: 35px;
    border: 1px solid black;
    width: 352px;
    height: 156px;
    text-align: center;
}

.experiance__item h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 11px;
}

.experiance__item p{
    font-size: 16px;
    font-weight: 500;
}

.experiance__item.active {
    color: white;
    background-color: black;
}

/* Awards */
.destinations__describe {
    margin-bottom: 120px;
}

.describe__title {
    margin-bottom: 60px;
    text-align: center;
    margin-right: 50px;
}

.describe__title img{
    margin-bottom: 22px;
}

.describe__title h2 {
    font-size: 43px;
    font-weight: 500;
    margin-bottom: 9px;
}

.describe__title p {
    font-size: 18px;
    font-weight: 500;
}

.describe__cards{
    position: relative;
}

.describe__card {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    margin-bottom: 24px;
    border: 1px solid black;
}

.card__left {
    display: flex;
}

.left__num p {
    padding: 15px 20px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--secondary);
    color: white;
}

.left__text {

}

.left__text p:nth-child(1){
    font-size: 23px;
    font-weight: 500;
}

.left__text p:nth-child(2) {
     font-size: 18px;
     font-weight: 500;
}

.card__right {
    display: flex;
    column-gap: 16px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
}

/* Portfolio */
.destinations__portfolio {
    margin-bottom: 120px;
}

.portfolio__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    margin-bottom: 100px;
}

.portfolio__img {
    max-width: 100%;
}

.portfolio__content {
    margin-top: 20px;
}


.portfolio__title {
    margin-bottom: 40px;
    padding: 5px 5px;
    width: 170px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: var(--secondary);
}

.review {
    max-width: 556px;
}

.review__text {

}

.review__text p{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 50px;
}

.review__read {

}

.review__read a{
    font-size: 20px;
    font-weight: 500;
}

.review__read a:hover{
    font-weight: 900;
    margin-bottom: 20px;
    color: var(--secondary);
}

/* Services */
.services__columns {
    display: flex;
    flex-wrap: wrap;
    column-count: 2;
    column-gap: 40px;
    margin-bottom: 120px;
}

.services__column {
    width: 510px;
    height: 196px;
    border: 1px solid black;
    margin-bottom: 40px;
    padding: 50px 40px;
}

.services__column-title {

}

.services__column-title h2{
    font-size: 31px;
    font-weight: 500;
}

.services__column-text {

}

.services__column-text p{
    font-size: 18px;
    font-weight: 500;
}

/* Customer */
.customer__columns {
    display: flex;
    flex-wrap: wrap;
    column-count: 4;
    column-gap: 32px;
    margin-bottom: 120px;
}

.customer__column
{
    width: 241px;
    height: 98px;
    border: 1px solid black;
    margin-bottom: 32px;
    padding: 35px 40px;
}

.customer__column-title {

}

.customer__column-title p{
    font-size: 20px;
    text-align: center;
}

/* Articles */
.destinations__articles {
    margin-bottom: 120px;
}

.articles__row {
    display: flex;
    column-gap: 80px;
    padding: 10px 40px;
    border: 1px solid black;
    margin-bottom: 100px;
}

.articles__title {
    font-weight: 500;
    max-width: 432px;
}

.articles__title span{
    color: var(--secondary);
    font-size: 16px;
}

.articles__title p{
    font-size: 24px;
}

.articles__text {
    max-width: 457px;
    padding-top: 20px;
}

.articles__text p{
    font-size: 16px;
    font-weight: 500;
}

.article__logo {
    position: relative;
}

.article__logo img {
    position: absolute;
    width: 240px;
    height: 240px;
    top: -350px;
    left: 1150px;
}

.articles__btn {
    color:white;
    background-color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    height: 56px;
    padding-top: 15px;
}

.articles__btn a{

}

.articles__btn:hover{
    color: black;
    background-color: #F2F1EF;
    border: 1px solid black;
    transition: background-color 0.4s ease-in;
}

/* Subscribe */
.subscribe {
    align-items: center;
    background-color: #E6E3DE;
    height: 176px;
}

.subscribe__content {
    display: flex;
    column-gap: 200px;

    padding-top: 60px;
    max-width: 1060px;
    justify-content: center;
    font-size: 23px;
    font-weight: 500;
}

.subscribe__text {
    margin-top: 10px;
}

.subscribe__form {
    display: flex;
    column-gap: 30px;
}

.subscribe__form input{
    border: 2px solid black;
    padding: 15px 35px;
}

.subscribe__form input::placeholder{
    color: #161513;
}

.subscribe__form a{
    padding: 16px 35px;
    background-color: black;
    color: white;
}

.subscribe__form a:hover{
    padding: 15px 34px;
    background-color: #E6E3DE;
    border: 1px solid black;
    color: black;

    transition: background-color 0.3s ease-in;
}

/* Footer */
.footer {
    background-color: #161513;
    color: white;
    height: 220px;
    width: 1036px;
}

.footer__content {
    padding-top: 60px;
    max-width: 1060px;
}

.content__info {
    display: flex;
    justify-content: space-between;
}

.content__info-image {

}

.content__info-image img {
    width: 32px;
    height: 32px;
}

.content__info-text {
    display: flex;
    column-gap: 46px;
}

.content__info-text p{
    font-size: 16px;
    font-weight: 500;
}

.content__icons {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.content__icons-by {

}

.content__icons-by p{
    font-size: 14px;
    font-weight: 500;
}

.icons__row {
    display: flex;
    column-gap: 40px;
}

.content__icon {
    width: 40px;
    height: 50px;
}

/* Media header*/
@media (max-width: 1280px) {
    .container {
        padding: 0 45px;
    }
    .rectangle__row {
        column-gap: 30px;
        font-size: 14px;
    }
    .portfolio__row {
        flex-wrap: nowrap;
    }
    .portfolio__content {
        margin-top: -14px;
    }
    .services__columns {
        justify-content: center;
    }
    .customer__columns {
        justify-content: center;
    }
    .articles__title p {
        font-size: 20px;
    }
    .subscribe__text {
        font-size: 20px;
    }
    .subscribe {
        width: 1300px;
    }
    .footer {
        width: 1440px;
    }
}

@media (max-width: 1196px) {
    .rectangle__row {
        column-gap: 20px;
        font-size: 10px;
    }

    .nav__list {
        column-gap: 35px;
        font-size: 15px;
        font-weight: 300;
    }

    .header__title {
        font-size: 46px;
    }

    .header__content {
        max-width: 550px;
    }
    .destinations__text p{
        font-size: 42px;
    }
    .destinations__title p{
        font-size: 20px;
    }
    .description__title {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .description__text {
        font-size: 16px;
        margin-bottom: 25px;
    }
    .description__item p {
        font-size: 20px;
    }
    .experiance__item h2 {
        font-size: 30px;
    }
    .review__text p {
        font-size: 35px;
    }
    .subscribe__form input {
        padding: 10px 25px;
    }
    .subscribe__form a {
        padding: 10px 19px;
    }
    .subscribe__content {
        font-size: 20px;
    }
    .experiance__items {
        justify-content: center;
    }
}

@media (max-width: 1125px) {
    .header__img img{
        width: 422px;
        height: 423px;
    }
    .subscribe__content {
        font-size: 16px;
    }
    .footer {
        width: 1066px;
    }
}

@media (max-width: 1050px) {
    .header__row {
        flex-direction: column;
    }
    .header__img img {
        position: static;
        margin: 40px 0;
        width: 502px;
        height: 503px;
    }
    .header__img {
        right: -220px;
    }
    .header__rectangle {
        display: none;
    }
    .articles__title p {
        font-size: 16px;
    }
    .articles__title span {
        font-size: 14px;
    }
    .articles__btn a {
        font-size: 16px;
    }
    .subscribe__form a {
        height: 45px;
    }
    .content__info-text p {
        font-size: 14px;
    }
    .subscribe__text {
        font-size: 16px;
    }
    .footer {
        width: 1065px;
    }
}

@media (max-width: 912px) {
    .footer {
        width: 912px;
    }
}

@media (max-width: 900px) {
    .nav__login {
        display: none;
    }

    .nav__list {
        display: none;
    }

    .nav__toggle {
        display: block;
    }

    .no-scroll {
        overflow-y: hidden;
    }

    .nav--mobile {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        flex-direction: column;
        align-items: center;

        padding-top: 40px;
        padding-bottom: 40px;

        background-color: #E6E3DE;
    }

    .nav--mobile .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;

        font-size: 32px;
        text-decoration: none;
    }

    .nav--mobile .nav__login {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;

        font-size: 32px;
    }

    .nav--mobile .nav__toggle {
        position: fixed;
        top: 50px;
        right: 50px;
    }

    .container {
        padding: 0 193px;
    }

    .header__img {
        right: 0;
    }

    .header__title {
        margin-bottom: 20px;
        font-size: 40px;
    }

    .header__text {
        margin-bottom: 20px;
        column-gap: 10px;
        font-size: 18px;
    }

    .header__btn {
        padding: 11px 30px;
        font-size: 13px;
    }

    .header__content {
        max-width: 550px;
    }

    .header__img img {
        width: 402px;
        height: 403px;
    }

    .destinations {
        padding: 0 0 100px;
    }

    .destinations_row {
        display: block;
    }
    .destinations__title p {
        font-size: 16px;
    }
    .destinations__text p {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .description__text {
        font-size: 14px;
    }
    .experiance__items {
        display: grid;
    }
    .portfolio__row img {
        max-width: 0;
    }
    .portfolio__row {
        display: block;
        border: 1px solid black;
        padding: 40px 40px;
    }
    .articles__title span {
        font-size: 10px;
    }
    .footer {
        width: 900px;
    }
}

@media (max-width: 820px) {
    .subscribe {
        width: 1064px;
    }
}

@media (max-width: 800px) {
    .experiance__item {
        padding-top: 26px;
        width: 305px;
        height: 119px;
    }
    .describe__title {
        margin-right: -4px;
    }
    .describe__card {
        display: block;
    }
    .review__text p {
        font-size: 25px;
    }
    .portfolio__title {
        font-size: 16px;
    }
    .review__read a {
        font-size: 18px;
    }
    .services__column-title h2 {
        font-size: 25px;
    }
    .describe__title h2 {
        font-size: 30px;
    }
    .describe__title p {
        font-size: 16px;
    }
    .articles__row {
        display: block;
    }
    .content__icons-by p {
        font-size: 12px;
    }
    .subscribe__content {
        display: block;
        margin: 0 63px;
    }
    .subscribe__text {
        margin: 10px 0;
    }
    .destinations {
        padding: 0;
    }
    .content__icon {
        width: 29px;
    }
    .subscribe {
        width: 790px;
    }
    .footer {
        width: 790px;
    }
}

@media (max-width: 675px) {
    .header__title {
        margin-bottom: 15px;
        font-size: 30px;
    }

    .header__text {
        margin-bottom: 15px;
        column-gap: 10px;
        font-size: 14px;
    }

    .header__btn {
        padding: 11px 20px;
        font-size: 13px;
    }

    .header__content {
        max-width: 550px;
    }

    .header__img img {
        width: 262px;
        height: 258px;
    }

    .header__title img{
        margin-top: 0;
    }

    .header__text img{
        margin-top: 0;
    }

    .header {
        min-height: 761px;
    }
    .destinations__description {
        width: 459px;
    }
    .description__item p {
        font-size: 16px;
    }
    .subscribe__content {
        margin: 0 6px;
    }
    .container {
        padding: 0 166px;
    }
    .subscribe {
        width: 788px;
    }
}

@media (max-width: 465px) {
    .header__img {
        right: 10px;
    }

    .header__img img {
        width: 302px;
        height: 303px;
    }
    .nav__logo img{
        max-width: 100px;
    }
    .header__row {
        display: inline-block;
    }
    .destinations__text p {
        font-size: 25px;
    }
    .description__title {
        font-size: 18px;
    }
    .destinations__description {
        width: 401px;
    }
    .destinations__text {
        width: 400px;
    }
    .description__item p {
        font-size: 12px;
    }
    .description__item span {
        font-size: 10px;
    }
    .experiance__items {
        margin-left: 172px;
    }
    .describe__title {
        margin-right: -184px;
    }
    .describe__card {
        width: 450px;
    }
    .describe__card {
        padding: 0;
        margin-bottom: 60px;
        border: none;
    }
    .portfolio__row {
        display: block;
        border: none;
        padding: 0;
        width: 450px;
    }
    .services__columns {
        display: block;
        column-count: unset;
    }
    .services__column {
        width: 398px;
        border: none;
        margin-bottom: -46px;
        padding: 0;
    }
    .customer__columns {
        display: block;
        flex-wrap: wrap;
        column-count: unset;
        margin-left: 51px;
    }
    .articles__row {
        width: 355px;
        display: block;
        padding: 0;
        border: none;
    }
    .footer__content {
        max-width: 333px;
    }
    .content__icons {
        column-gap: 5px;
    }
    .nav__toggle {
        margin-left: 81px;
    }
    .article__logo img {
        left: 365px;
    }
    .subscribe {
        width: 787px;
    }
    .container {
        padding: 0 225px;
    }
    .nav__toggle {
        margin-left: 281px;
    }
    .articles__btn {
    padding-top: 0;
    }
}

@media (max-width: 380px) {
.header__title {
margin-bottom: 15px;
font-size: 23px;
}

.header__text {
margin-bottom: 15px;
column-gap: 10px;
font-size: 10px;
}

.header__title img{
margin-top: 5px;
width: 20px;
height: 20px;
}

.header__text img {
width: 15px;
height: 15px;
}

.nav__logo img {
width: 100px;
height: 25px;
}

.nav--mobile .nav__list {
row-gap: 30px;

font-size: 23px;
}
}

@media (max-width: 280px) {
.nav__logo img {
margin-bottom: 20px;
}

.header__text {
column-gap: 8px;
font-size: 8px;
}

.header__content a{
margin: 10px 0;
padding-top: 10px;
width: 130px;
height: 40px;

font-size: 12px;
text-align: center;
}

.header__img img {
width: 252px;
height: 253px;
}

.header__img{
right: 30px;
}
}
